.navigation {
    display: flex;
    margin: 10px;
    height: 100px;
    justify-content: space-between;
  }
  
.menu-item{
    display: flex;
  }
   .navigation  li{
   list-style-type: none;
  margin:20px;
  font-weight: 600;
  }